<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>

<%= form_for @message, url: "/rooms/1" do |f| %>
  <%= f.text_field :body, rows: 1, class: "form-control", autofocus: true %>
  <%= f.submit "Say it!" %>
<% end %>

<% @messages.where(room: params[:id]).each do |message| %>
<%= message.body %>
<%= message.user.name %> @ <%= message.created_at %><br>
<% end %>
<%= %>
