<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %><br>


<% @messages.where(room: params[:id]).each do |message| %>
<%= message.body %>
~<%= message.user.name %> @ <%= message.created_at %><br>
<% end %>
<%= %>