<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>

  <%= @room.name %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>

<%= form_with url: room_messages_path(@room), local: false do |f| %>
  <%= f.text_area :body, class: "form-control", autofocus: true %>
  <%= f.submit "Say it!" %>
<% end %>
<div class='messageView'>

<%= render partial: "messages/message", collection: @room.messages %>

</div>

<script type="text/javascript">

function scroll(){
  var objDiv = document.querySelector(".messageView");
  objDiv.scrollTop = objDiv.scrollHeight;
}

function initMessages(room, cb){
  scroll();
  App.messages = App.cable.subscriptions.create({channel: "BanterChannel", room: room, format: 'html'}, {
    connected: function() {
    },

    disconnected: function() {
    },

    received: function(data) {
      console.log(data.message);
      // Called when there's incoming data on the websocket for this channel
      document.querySelector(".messageView").innerHTML += data.message;
      document.querySelector('textarea').value = '';
      // scroll();
      
    }
  });
} 
  
document.addEventListener('DOMContentLoaded', function(){
    initMessages(<%= @room.id %>);
  });

</script>
