<!DOCTYPE html>
<html>
  <head>
    <title>Banta</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="bantacsslayout.css">
   <link href="https://fonts.googleapis.com/css?family=Gugi" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
     <header>
        <br><h1><%= link_to('Banta', root_path)%> </h1><br>
        <h4> Chat With Friends</h4>
      <nav>
        <%= link_to('Rooms',rooms_path)%> |        
        <%= link_to('Profile', users_path)%> |
        <%= link_to('SignUp', new_user_registration_path)%> |
        <%= link_to('Login', new_user_session_path)%> |

      </nav>
    </header>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
 